node_modules
vendor
.git
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
Thumbs.db
*.log
.cursor
tests
.phpunit.result.cache
.editorconfig
.gitattributes
.gitignore
README.md
*.md 